.container {
  display: flex;
  justify-content: center;
  background-color: rgb(72, 72, 247);
  color: white;
  margin-bottom: 10px;
  padding: 20px 0;
  border-radius: 10px;
  width: 400px;
}

.container img {
  width: 60px;
  border-radius: 50px;
}

.content {
  padding-left: 10px;
}

.content p {
  padding-top: 5px;
  font-size: 12px;
}
